*{
	margin: 0;
	padding: 0;
}
#main{
	-webkit-column-width:202px;
	-moz-column-width:202px;
	-ms-column-width:202px;
	-o-column-width:202px;
}
.pin{
	padding: 10px 00 15px;
}
.box{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 165px;
}
.box img{
	display: block;
	width: 165px;
	height: auto;
}